.cabecalho {
    display: block;
    text-align: center;
    padding: 96px 0;
}

.cabecalho__destaque {
    font-weight: 600;
    color: var(--vinho);
}

.cabecalho__titulo {
    font-size: 48px;
    font-weight: 600;
    color: var(--cinza-escuro);
    padding: 1em;
}

.cabecalho__texto {
    font-size: 20px;
    font-weight: 400;
    color: var(--cinza);
    margin: 0 18em;
}