.depoimentos {
    margin-top: 10em 2.5em 0 2.5em;
    padding: 0 2.5em;

}

.depoimento__caixa {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: rgba(196, 25, 25, 0.03);

}

.depoimentos img {
    width: 56px;
    height: 56px;
}

.depoimento__destaque {
    font-weight: 600;
    color: var(--vinho);
    margin-top: 3em;
}

.depoimento__titulo {
    font-size: 36px;
    font-weight: 500;
    color: var(--cinza-escuro);
    padding: 1em;
}

.depoimento__nome {
    font-weight: 500;
    color: var(--cinza-escuro);
    margin: 1em 0;
}

.depoimento__texto {
    font-size: 14px;
    color: var(--cinza);
    margin-bottom: 5em;
}